
/* for auto hide panel*/
/* for left auto hide panel */
.dfahpanelleft {background-Color:Purple }
/* for top auto hide panel */
.dfahpaneltop {background-Color:Aqua}
/* for right auto hide panel */
.dfahpanelright {background-Color:GrayText}
/* for bottom auto hide panel */
.dfahpanelbottom {background-Color:Maroon}

/* for tab panel global setting*/
.dftabpanel {background-Color:red;color:Black;font-family:Georgia;font-style:italic;font-size:12px/30px;font-weight:bold}

/* floate frame global setting */
.dffloatframe {background-Color:WindowFrame;border-Radius:8px}

/* for DSXDFPanel */
/* for title bar */
.mydfaTitle {background-Color:ActiveCaption;color:Black;height:22px;font-family:Georgia;font-style:italic;font-size:16px;font-weight:bold;text-align:left;border:1px solid black}
/* for Auto Hide */
.mydfaAutoHide{font-family:Georgia;font-style:normal;font-size:16px;font-weight:bold;padding-right:10px;background-Color:Blue;}
.mydfaAutoHide:hover { background-Color:grey;text-decoration:underline}
/* for Pin  */
.mydfaPin{background-Repeat:no-repeat}
/* for Close */
.mydfaClose{background-Repeat:no-repeat}
/* for Tab Inactive */
.mydfaTabInactive{background-Color:ButtonFace;border-bottom-left-radius:  16px 16px solid blue;border-bottom-right-radius:8px 8px;height:16;color:Gray;font-family:Georgia;font-style:normal;font-size:14px;}
/* for Tab Active */
.mydfaTabActive{background-Color:white;border-bottom-left-radius:  16px 16px solid green;border-bottom-right-radius:8px 8px;height:20;color:Black;font-family:Georgia;font-style:normal;font-size:14px;}

